@charset "UTF-8";

:root {
  --color-primary: #000000;
  --color-secondary: #727272;
  --color-title: #000000;
  --color-white: #ffffff;
  --global-bg-color: #ffffff;
  --global-bg-color-section: #209c3c;
  --color-green: #209c3c;
  --color-hover: #178531;
  --btn-color: #ffffff;
  --btn-bg-color: #209c3c;
  --btn-radius: 40px;
  --font-FamilyMain: 'Gotham Pro', sans-serif;
  --font-WeightTitle: 700;
  --font-WeightMain: 700;
  --font-WeightAny: 400;
  --transition: all .3s ease;
  --global-radius: 20px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 125%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: var(--font-FamilyMain);
  font-weight: var(--font-WeightMain);
  color: var(--color-primary);
}

input,
button,
textarea {
  font-family: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  display: block;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* --------------- */

/* Global Style main */

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  display: block;
  width: 200px;
  height: 38px;
}

.logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

img {
  max-width: 100%;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mt-40 {
  margin-top: 40px;
}

.page--not-hero {
  margin-top: 160px;
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.indentation {
  padding: 80px 0px;
}

.title {
  font-weight: var(--font-WeightTitle);
  line-height: 115%;
  color: var(--color-title);
}

.title-primary {
  font-size: 60px;
}

.title-secondary {
  font-size: 40px;
}

.others-btn {
  padding: 10px 20px;
  color: var(--color-green);
  background-color: #fff;
  border-radius: var(--btn-radius);
  font-size: 16px;
  line-height: 100%;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.others-btn:hover {
  color: var(--color-hover);
  background-color: #e4e4e4;
}

.text-center {
  text-align: center;
}

.primary-btn {
  width: 100%;
  max-width: 324px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  line-height: 100%;
  font-weight: var(--font-WeightMain);
  border-radius: 40px;
  cursor: pointer;
  padding: 22px 20px;
  background-color: var(--btn-bg-color);
  border-radius: var(--btn-radius);
  color: var(--btn-color);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.primary-btn:hover {
  background-color: var(--color-hover);
}

.hidden {
  overflow: hidden;
}

.error {
  border: 2px #ff4019 solid !important;
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

@font-face {
  font-family: "Gotham Pro";
  font-display: swap;
  src: url("../fonts/GothamProBold.woff") format("woff"), url("../fonts/GothamProBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  font-display: swap;
  src: url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icomoon";
  src: url("../libs/icomoon/fonts/icomoon.eot?8op8qd");
  src: url("../libs/icomoon/fonts/icomoon.eot?8op8qd#iefix") format("embedded-opentype"), url("../libs/icomoon/fonts/icomoon.ttf?8op8qd") format("truetype"), url("../libs/icomoon/fonts/icomoon.woff?8op8qd") format("woff"), url("../libs/icomoon/fonts/icomoon.svg?8op8qd#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "";
}

.icon-telegram:before {
  content: "";
}

.icon-youtube:before {
  content: "";
}

.icon-phone:before {
  content: "";
}

.icon-apple:before {
  content: "";
}

.icon-arrow-left:before {
  content: "";
}

.icon-arrow-right:before {
  content: "";
}

.icon-arrow-slider-left:before {
  content: "";
}

.icon-arrow-slider-right:before {
  content: "";
}

.icon-play:before {
  content: "";
}

.icon-play-market:before {
  content: "";
}

.icon-plus:before {
  content: "";
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  overflow: auto;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.popup__btn-close {
  position: absolute;
  top: 30px;
  right: 30px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  width: 20px;
  height: 20px;
  background-color: transparent;
}

.popup__btn-close:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  opacity: .8;
}

.popup__btn-close:before {
  content: '';
  background: #000;
  position: absolute;
  height: 20px;
  width: 2px;
  border: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.popup__btn-close:after {
  content: '';
  background: #000;
  position: absolute;
  height: 20px;
  width: 2px;
  border: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.popup.active {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}

.popup__text {
  font-size: 14px;
}

.popup__wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.popup__inner {
  display: table-cell;
  vertical-align: middle;
  padding: 50px 0px;
}

.popup__body {
  max-width: 760px;
  border-radius: 16px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  padding: 90px 70px 80px 70px;
}

.popup.popup-feedback .popup__inner {
  padding: 0px;
  height: 100%;
}

.popup.popup-feedback .popup__text {
  padding-right: 50px;
  margin-bottom: 15px;
}

.popup.popup-feedback .popup__btn-close {
  background-color: #209c3c;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup.popup-feedback .popup__btn-close:after,
.popup.popup-feedback .popup__btn-close:before {
  background-color: #fff;
}

.popup.popup-feedback .popup__body {
  padding: 30px;
  height: 100%;
  margin: 0 0 0 auto;
  max-width: 510px;
  border-radius: 0;
}

.popup.popup-feedback .form__item:not(:last-child) {
  margin-bottom: 15px;
}

.popup.popup-feedback .form__btn {
  max-width: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header__top {
  background-color: #209c3c;
  padding: 11px 0px;
  position: relative;
  z-index: 2;
}

.header__logo {
  margin-right: 10px;
}

.header__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__phone {
  margin-right: 30px;
}

.header__social .social__item:not(:last-child) {
  margin-right: 8px;
}

.header__bottom {
  background-color: #1d8a36;
  padding: 19px 0px;
  line-height: 1.42857;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list-item:not(:last-child) {
  margin-right: 15px;
}

.menu__list-link {
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  font-size: 13px;
  text-transform: uppercase;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.menu__list-link.active {
  color: #ffffff;
}

.menu__list-link:hover {
  color: #ffffff;
}

.header__mobile {
  display: none;
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-white);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  white-space: nowrap;
}

.phone:hover {
  color: #f07f1b;
}

.phone span {
  margin-right: 11px;
}

.language {
  margin-right: 15px;
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
}

.language:hover .language__dropdown {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.language:hover .language__arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.language__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 5px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.language__dropdown {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  position: absolute;
  top: 100%;
  left: 0;
}

.language__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-white);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.language__link:not(:first-child) {
  margin-left: 10px;
}

.language__link:hover {
  color: #f07f1b;
}

.header__btn {
  margin-right: 15px;
}

.header__any {
  background-color: #fff;
  padding: 10px 0px;
}

.header__any-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -5px;
}

.header__any-links {
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  color: var(--color-green);
  padding: 0 5px;
  text-transform: uppercase;
  font-size: 13px;
}

.header__any-links:hover {
  color: #f07f1b;
}

.header__any-links:not(:last-child) {
  margin-right: 30px;
}

.header__mobile-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile-links {
  margin-bottom: 20px;
}

.mobile-links a {
  display: block;
  color: var(--color-white);
  font-size: 16px;
}

.mobile-links a:not(:last-child) {
  margin-bottom: 10px;
}

.hero {
  background-color: #f5f5f5;
  position: relative;
}

.hero img {
  width: 100%;
  height: auto;
}

.section-head--center {
  text-align: center;
}

.section-head--center .section-head__text {
  max-width: 547px;
  margin: 0 auto;
}

.section-head > *:not(:last-child) {
  margin-bottom: 25px;
}

.btn-block--maxwidth {
  max-width: 662px;
  margin: 0 auto;
}

.btn-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -7px;
}

.btn-block__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 7px;
}

.btn-block__btn {
  max-width: 100%;
  white-space: nowrap;
}

.btn-block__btn span {
  margin-right: 13px;
}

.block-article__image {
  border-radius: var(--global-radius);
  position: relative;
  padding-bottom: 45.60%;
  margin-bottom: 40px;
  overflow: hidden;
  background-color: #f5f5f5;
}

.block-article__image--gradient:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(65.58%, rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.57)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 65.58%, rgba(0, 0, 0, 0.57) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 65.58%, rgba(0, 0, 0, 0.57) 100%);
}

.block-article__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.block-article__row {
  display: block;
}

.block-article__row .block-article__image {
  width: 50%;
  float: right;
  margin: 0px 0px 20px 20px;
}

.block-article__row .block-article__desc {
  width: auto;
}

.block-article__desc {
  color: var(--color-secondary);
  font-weight: 400;
}

.block-article__desc > *:not(:last-child) {
  margin-bottom: 25px;
}

.block-article__link {
  display: block;
  font-weight: 700;
  color: var(--color-green);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.block-article__link:hover {
  color: var(--color-hover);
}

.block-article__head > *:not(:last-child) {
  margin-bottom: 30px;
}

.block-article__image {
  margin-bottom: 80px;
}

.text-block {
  color: var(--color-secondary);
  font-weight: 400;
}

.text-block > *:not(:last-child) {
  margin-bottom: 25px;
}

.offer-btn {
  max-width: 260px;
}

.line {
  border-top: 2px solid #e5e5e5;
}

.slider__wrapper {
  position: relative;
}

.slider__item {
  background-color: #f4f4f4;
  border-radius: var(--global-radius);
  overflow: hidden;
  height: 120px;
}

.slider__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.button-slider-arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--color-white);
  background-color: var(--btn-bg-color);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.button-slider-arrow:hover {
  background-color: var(--color-hover);
}

.button-slider-arrow:after {
  font-size: 0;
}

.slider-arrow-prev {
  left: -90px;
}

.slider-arrow-next {
  right: -90px;
}

.fslightbox-slide-number-container {
  display: none !important;
}

.fslightbox-slide-btn-container {
  display: none !important;
}

.pagination__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pagination__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background-color: #f3f3f3;
  color: #c0c0c0;
  font-size: 12px;
  font-weight: 700;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.pagination__item:not(:last-child) {
  margin-right: 2px;
}

.pagination__item:not(.active):hover {
  background-color: #209c3c;
  color: #fff;
}

.pagination__item.active {
  background-color: #209c3c;
  color: #fff;
}

.social__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social__item {
  color: var(--color-white);
  font-size: 32px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.social__item:hover {
  color: #f07f1b;
}

.social__item:not(:last-child) {
  margin-right: 16px;
}

.form__content {
  margin-bottom: 40px;
}

.form__item:not(:last-child) {
  margin-bottom: 25px;
}

.form__label {
  display: block;
  margin-bottom: 11px;
}

.form__label--req {
  position: relative;
}

.form__label--req:after {
  content: '*';
  display: inline-block;
  color: #ff3131;
  padding-left: 2px;
}

.form__control {
  border-radius: 8px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  border: 1px solid #CBCBCB;
  transition: var(--transition);
  width: 100%;
  min-height: 60px;
  padding: 5px 27px;
  color: var(--color-primary);
  font-size: 16px;
  background-color: #fff;
}

.form__control:focus {
  background-color: #f8f8f8;
}

.form__btn {
  max-width: 200px;
  text-transform: uppercase;
}

.choices {
  border-radius: 8px;
  overflow: hidden;
}

.choices__list--dropdown {
  border-radius: 8px;
}

.is-open .choices__inner {
  border-radius: 8px;
}

.choices__list--single {
  padding: 0px;
}

.choices__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  border: 1px solid #CBCBCB;
  transition: var(--transition);
  width: 100%;
  min-height: 60px;
  padding: 5px 27px;
  color: var(--color-primary);
  font-size: 16px;
  background-color: #fff;
  font-weight: 500;
}

.choices__inner:focus {
  background-color: #f8f8f8;
}

.instruction__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.instruction__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 15px;
  position: relative;
  margin-bottom: 40px;
}

.instruction__item:nth-child(3n+3):after {
  display: none;
}

.instruction__item:after {
  content: '';
  position: absolute;
  right: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 45px;
  height: 40px;
  background-image: url(../img/arrow-instruction.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.instruction__body {
  text-align: center;
}

.instruction__image {
  height: 443px;
  width: 265px;
  margin: 0 auto 10px auto;
  position: relative;
}

.instruction__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.faq {
  background-color: #f3f3f3;
}

.accordion__item:not(:last-child) {
  margin-bottom: 10px;
}

.accordion__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  border-radius: 10px;
  background-color: #ffffff;
  width: 100%;
  text-align: left;
  font-weight: var(--font-WeightMain);
  color: var(--color-primary);
  font-size: 16px;
  min-height: 78px;
  padding: 10px 20px 10px 40px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.accordion__btn:hover {
  color: var(--color-hover);
}

.accordion__btn:hover:after {
  background-color: var(--color-hover);
}

.accordion__btn.active {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.accordion__btn.active:after {
  content: '';
  background-image: url(../img/icon/minus.svg);
}

.accordion__btn:after {
  content: '';
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 40px;
  height: 40px;
  background-color: var(--btn-bg-color);
  border-radius: 50%;
  background-image: url(../img/icon/plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 15px;
  -webkit-transition: background-color .4s ease;
  -o-transition: background-color .4s ease;
  transition: background-color .4s ease;
}

.accordion__content {
  display: none;
  background-color: #fff;
  padding: 40px;
  padding-top: 0;
  color: var(--color-secondary);
  font-weight: 400;
}

.programm__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -25px;
}

.programm__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 25px;
}

.programm__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.programm__body p {
  max-width: 320px;
}

.programm__image {
  margin-bottom: 20px;
  width: 80px;
  height: 80px;
}

.programm__btn-wrap {
  text-align: center;
}

.info--video .info__image:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
}

.info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.info__item:not(:last-child) {
  margin-bottom: 40px;
}

.info__image {
  border-radius: var(--global-radius);
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  padding-bottom: 21%;
  overflow: hidden;
  margin-right: 38px;
}

.info__image:hover .info__image-play {
  fill: var(--color-hover);
}

.info__image:hover .info__image-play circle {
  fill-opacity: 1;
}

.info__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.info__image-play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  fill: #fff;
}

.info__image-play circle {
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  fill-opacity: 0.3;
}

.info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.info__desc {
  color: var(--color-secondary);
  font-weight: 400;
  padding-bottom: 10px;
}

.info__desc p {
  max-width: 614px;
}

.info__desc > *:not(:last-child) {
  margin-bottom: 20px;
}

.info__title {
  font-weight: var(--font-WeightTitle);
  color: var(--color-title);
  font-size: 24px;
  line-height: 116%;
}

.info__btn {
  display: block;
  margin-top: auto;
  color: var(--color-green);
  -webkit-transform: var(--transition);
      -ms-transform: var(--transition);
          transform: var(--transition);
  font-size: 12px;
  text-transform: uppercase;
}

.info__btn:hover {
  color: var(--color-hover);
}

.date {
  font-size: 12px;
  color: #c4c4c4;
  text-transform: uppercase;
  font-weight: 700;
}

.project__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.project__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3%;
          flex: 0 1 33.3%;
  padding: 0 15px;
  margin-bottom: 20px;
}

.project__body {
  text-align: left;
}

.project__image {
  border-radius: var(--global-radius);
  overflow: hidden;
  background-color: #f5f5f5;
  padding-bottom: 64.5%;
  margin-bottom: 20px;
  position: relative;
}

.project__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.project__title {
  font-weight: 700;
  max-width: 340px;
}

.footer {
  background-color: var(--global-bg-color-section);
  padding: 35px 0px 45px 0px;
}

.footer__nav {
  margin-bottom: 50px;
}

.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.footer__nav-list-link {
  color: var(--color-white);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  text-transform: uppercase;
  font-size: 13px;
}

.footer__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}

.footer__logo {
  margin-right: 15px;
}

.footer__contacts {
  text-align: right;
}

.footer__contacts-link {
  display: block;
  font-weight: 400;
  color: var(--color-white);
  font-size: 18px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.footer__contacts-link:hover {
  color: #f07f1b;
}

.footer__contacts-link:not(:last-child) {
  margin-bottom: 8px;
}

.footer__bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 35px;
  border-top: 1px solid #fff;
}

.footer__copy {
  display: block;
  font-weight: 400;
  color: var(--color-white);
}

.main-link {
  display: block;
  color: var(--color-white);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  line-height: 150%;
}

.main-link:hover {
  color: #f07f1b;
}

@media (max-width: 1440px) {
  .header__bottom {
    padding: 17.57px 0;
  }

  .header__any-links {
    font-size: 11.5px;
  }

  .header__any-links:not(:last-child) {
    margin-right: 20px;
  }
}

@media (max-width: 1400px) {
  .slider-arrow-prev {
    left: -45px;
  }

  .slider-arrow-next {
    right: -45px;
  }
}

@media (max-width: 1270px) {
  .slider-arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
  }

  .slider-arrow-prev,
  .slider-arrow-next {
    position: static;
    margin-top: 0;
  }

  .slider-arrow-prev:not(:last-child),
  .slider-arrow-next:not(:last-child) {
    margin-right: 10px;
  }
}

@media (max-width: 1140px) {
  .mb-40 {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 820));
  }

  .mb-50 {
    margin-bottom: calc(20px + 30 * ((100vw - 320px) / 820));
  }

  .mb-60 {
    margin-bottom: calc(25px + 35 * ((100vw - 320px) / 820));
  }

  .mb-80 {
    margin-bottom: calc(40px + 40 * ((100vw - 320px) / 820));
  }

  .mb-100 {
    margin-bottom: calc(40px + 60 * ((100vw - 320px) / 820));
  }

  .mt-40 {
    margin-top: calc(20px + 20 * ((100vw - 320px) / 820));
  }

  .title-primary {
    font-size: calc(25px + 35 * ((100vw - 320px) / 820));
  }

  .title-secondary {
    font-size: calc(20px + 20 * ((100vw - 320px) / 820));
  }
}

@media (max-width: 992px) {
  .page--not-hero {
    margin-top: 100px;
  }

  .popup__body {
    padding: 50px;
    max-width: 575px;
  }

  .header__top .header__top-content {
    display: none;
  }

  .header__phone {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .header__social .social__item {
    font-size: 40px;
  }

  .header__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    background-image: url(../img/intro-image/intro-image-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;
  }

  .header__bottom .container {
    height: 100%;
  }

  .header__bottom.active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__list-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .menu__list-link {
    color: #fff;
    font-size: 16px;
  }

  .header__nav {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    position: relative;
    padding-top: 100px;
    padding-bottom: 20px;
  }

  .header__nav:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
  }

  .header-ind {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    position: relative;
    margin: 0 -15px;
  }

  .header__mobile {
    display: block;
    margin-top: 30px;
  }

  .header__mobile .header__top-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .language {
    margin-left: auto;
    margin-right: 0px;
  }

  .header__btn {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .header__any {
    display: none;
  }

  .block-article__row .block-article__image {
    width: 100%;
    margin: 0px 0px 20px 0px;
  }

  .block-article__image {
    margin-bottom: 50px;
  }

  .burger {
    display: block;
    position: relative;
    top: 0;
    right: 0px;
    width: 38px;
    height: 38px;
    z-index: 100;
    background-color: transparent;
    margin-left: 15px;
  }

  .burger span {
    top: 17px;
    right: 0;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
  }

  .burger span:first-child {
    top: 9px;
  }

  .burger span:last-child {
    top: auto;
    bottom: 10px;
    width: 100%;
    right: 0;
  }

  .burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .burger.active span:first-child {
    -webkit-transform: rotate(-42deg);
        -ms-transform: rotate(-42deg);
            transform: rotate(-42deg);
    top: 19px;
  }

  .burger.active span:last-child {
    -webkit-transform: rotate(42deg);
        -ms-transform: rotate(42deg);
            transform: rotate(42deg);
    bottom: 16px;
    width: 100%;
  }

  .instruction__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .instruction__item:nth-child(3n+3):after {
    display: block;
  }

  .instruction__item:nth-child(even):after {
    display: none;
  }

  .programm__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-bottom: 35px;
  }

  .info__image {
    margin-right: 15px;
  }

  .info__desc > *:not(:last-child) {
    margin-bottom: 10px;
  }

  .info__title {
    font-size: 20px;
  }

  .project__image {
    margin-bottom: 15px;
  }

  .footer__nav-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  :root {
    --global-radius: 10px;
  }

  .indentation {
    padding: 40px 0px;
  }

  .accordion__btn {
    padding: 10px 20px;
    min-height: 50px;
  }

  .accordion__content {
    padding: 20px;
    padding-top: 0;
  }

  .info__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .info__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-right: 0;
    padding-bottom: 58%;
    margin-bottom: 15px;
  }

  .project__row {
    margin: 0 -10px;
  }

  .project__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 0 10px;
  }

  .footer {
    padding: 20px 0px;
  }

  .footer__nav {
    margin-bottom: 30px;
  }

  .footer__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__nav-list-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 650px) {
  .instruction__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 60px;
  }

  .instruction__item:nth-child(even):after {
    display: block;
  }

  .instruction__item:last-child:after {
    display: none;
  }

  .instruction__item:after {
    bottom: -75px;
    top: auto;
    -webkit-transform: rotate(90deg) translate(-50%, -50%);
        -ms-transform: rotate(90deg) translate(-50%, -50%);
            transform: rotate(90deg) translate(-50%, -50%);
    right: 50%;
  }
}

@media (max-width: 575px) {
  html,
  body {
    font-size: 14px;
  }

  .logo {
    width: 170px;
  }

  .indentation {
    padding: 20px 0px;
  }

  .primary-btn {
    padding: 14px 20px;
  }

  .popup__body {
    padding: 30px 15px;
    max-width: 320px;
  }

  .popup.popup-feedback .popup__body {
    padding: 30px 15px;
  }

  .btn-block__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .btn-block__item:not(:last-child) {
    margin-bottom: 15px;
  }

  .block-article__image {
    margin-bottom: 20px;
  }

  .block-article__desc > *:not(:last-child) {
    margin-bottom: 15px;
  }

  .block-article__head > *:not(:last-child) {
    margin-bottom: 15px;
  }

  .block-article__image {
    margin-bottom: 20px;
  }

  .offer-btn {
    max-width: 100%;
  }

  .form__content {
    margin-bottom: 20px;
  }

  .form__control {
    min-height: 40px;
    padding: 5px 15px;
  }

  .form__btn {
    text-transform: none;
  }

  .choices__list--dropdown .choices__list {
    max-height: 200px;
  }

  .choices__inner {
    min-height: 40px;
    padding: 5px 15px;
  }

  .accordion__btn:after {
    margin-left: 10px;
    width: 30px;
    height: 30px;
  }

  .programm__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .project__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .footer__center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 25px;
  }

  .footer__logo {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .footer__contacts {
    text-align: center;
  }

  .footer__contacts-link {
    font-size: 16px;
  }

  .footer__bot {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__copy {
    margin-top: 15px;
  }
}